.test {
   width: 32px;
   height: 32px;
   animation: BiQN2qsh 2s infinite;
   background: currentcolor;
   border: 1px solid;
   border-radius: 50%;
   bottom: -16px;
   color: red;
   left: -16px;
   position: absolute;
   right: -16px;
   top: -16px;
}

@keyframes BiQN2qsh {
   0% {
      background-color: #0000;
      border-color: currentcolor;
      opacity: 0;
      transform: scale(0);
   }
   10% {
      background-color: #0000;
      border-color: currentcolor;
      opacity: 1;
      transform: scale(1);
   }
   to {
      background-color: currentcolor;
      border-color: #0000;
      opacity: 0;
      transform: scale(3);
   }
}
